*{margin:0 auto;
  padding:0}
  
  header{
      position:fixed;
      width: 100%;
      height:57px;
     background: gray;
     z-index:999;
     top:0;left:0;
    }
    h1{
      font-size:24px;
    }
    main{
      display:flex;
      justify-content: space-between;
      height:300vh;
      /* min-height: 100%;
      padding-bottom: 150px; */
    
    }
    .one{
      width: 60%;
      height:100vh;
    }
    .one img{
      width: 100%;
      height:100%;
      display: block;
    }
    .two{
      width: 40%;
      overflow: auto;
      position: -webkit-sticky;
      position: sticky;
      height: 100vh;
      top:0;
      padding:70px 0 0 12px;
      text-align:center;
    }
  
  footer{
      position: relative;
      font-size:24px;
      height: 150px;
      background-color: wheat;
   /* transform: translateY(-100%);  */
  }